<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lg.mybatis.param.mapper.TeacherMapper">
    <!--使用的Ehcache缓存技术-->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <select id="get" resultType="teacher" useCache="true">
        select id,name from teacher where id = #{id}
    </select>

</mapper>