<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <!--属性配置-->
    <properties resource="db.properties"/>
    <!--日志技术-->
    <settings>
        <!--启用二级缓存,缺省是true-->
        <setting name="cacheEnabled" value="true"/>
        <setting name="logImpl" value="LOG4J"/>
        <!--开启延迟加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--设置不要积极的去查询关联对象-->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!--延迟加载触发的方法-->
        <setting name="lazyLoadTriggerMethods" value="clone"/>
    </settings>

    <!--
    类型别名:mybatis中别名不区分大小写
    -->
    <typeAliases>
        <!--<typeAlias type="com.lg.mybatis.hello.domain.User" alias="User"/>-->
        <!--一般写到domain包就可以了，自动为该包中的类起别名，默认就是简单类型的小写-->
        <package name="com.lg.mybatis"/>
    </typeAliases>


    <!--注册拦截器-->
    <plugins>
        <plugin interceptor="camelCaseInterceptor">
            <property name="abc" value="ade"/>
            <property name="bba" value="ade"/>
        </plugin>
    </plugins>

    <!--1、配置数据库环境-->
    <environments default="dev">
        <!--测试环境-->
        <environment id="dev">
            <!--事务管理器-->
            <transactionManager type="JDBC"/>
            <!--连接池-->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>



    <!--2、关联映射文件-->
    <mappers>
        <mapper resource="com/lg/mybatis/demo/mapper/UserMapper.xml"/>
    </mappers>
</configuration>